body {
	margin: 0px;


}

.container {
 	background-color: black;
 	height: 974px;
 	width: 100%; 



}

.menu {
	background-color: #94FFE7;
	height: 974px;
	width: 12%;



}

ul  {

	margin: 0px;
    margin-top: 50px;
	list-style-type: none;
}


li {
	color: black;
	font-size: 20px;
	text-decoration: none; 
	padding: 10px 32px;

}

li:hover {
	background-color: #f7c873;



}


h1 {
	margin: 0px;
	text-align: center;
	


}

a {
	text-decoration: none;



}

